.picture {
  width: 90%;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
  padding: 6px 0px;
  flex-grow: 1;
  border-radius: 20px;
  filter: brightness(80%);
  transition: filter .7s, border-radius 1s;
}

@media only screen and (max-width: 768px) {
  .picture {
    width: 90%;
  }
}

@media only screen and (hover: none) and (pointer: coarse){
  .picture{
    width: 90%;
  }
}

.picture:hover {
  filter: brightness(100%);
  border-radius: 8px;
  border-bottom: 6px solid #33F;
  border-top: 6px solid #33F;
  padding: 0px;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 80%;
  margin: auto;
  gap: 12px;
  justify-content: center;
}

a.cardLink {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color:#234;
}
a.cardLink:hover {
  color:#3333FF;
}

.image-title {
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
}

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  color: #234;
}

.page-container {
  max-width: 800px;
  margin-top: 5rem;
  margin: auto;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 32px;
}

p {
  font-size: 14pt;
}

.header h1 {
  margin: 20px 20px 10px;
}

.header {
  margin-bottom: 30px;
}

.tagline {
  text-align: center;
}

.contentContainer {
  margin: auto;
  text-align: center;
}

h2 {
  padding-left: 20px;
}

nav {
  display: block;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
  padding: 4px 10px;
  color: #234;
}

nav a:visited {
  color: #234;
}

nav a:hover {
  color: #33f;
}

nav a.curr {
  text-decoration: underline;
  text-decoration-color: #33f;
}

img.bioPic {
  display: block;
  margin: 0 auto;
  padding: 20px;

}

.intro-paragraph {
  display:block;
  max-width: 600px;
  margin: 10px auto;
}

.codeSnip {
  margin: 0;
  padding: 0;
  max-width: 90vw;
}