.picture {
  width: 200px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;

  border: 1px solid black;
  border-radius: 20px;
  filter: brightness(80%);
  transition: filter .7s, border 1s, border-radius 1s;
}

.picture:hover {
  filter: brightness(100%);
  border: 1px solid lightgray;
  border-radius: 8px;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

.image-title {
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
}

body {
  background-color: white;
  font-family: Garamond, Georgia, serif;
  color: #234;
  font-weight: bold;
}

.page-container {
  max-width: 800px;
  margin-top: 5rem;
  margin: auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.tagline {
  text-align: center;
}
